.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card
{
  padding: 50px;
  border-bottom: 5px solid #3498db;
}


body
{
  background: #ecf0f1;
}
.input-box label
{
  float: left;
}
.custom-btn
{
  display: inline-block;
  width: 100%;
}
.nav
{
  width: 100%;
  display: flex;
  background: #2d3436;
}
.nav p
{
  color: white;
  width: 50%;
}